{{yield}}

<table class="unstriped hover">
    <tr>
        {{#each headers as |header|}}
            <th>{{header}}</th>

        {{/each}}
    </tr>

{{#each rows as |row|}}
   <tr>
   {{#each row as |field|}}
       <td>{{field}}</td>
   {{/each}}
   </tr>
{{/each}}
{{yield}}
</table>