{{!-- The following component displays Ember's default welcome message. --}}
{{welcome-page}}
{{!-- Feel free to remove this! --}}
<div class="row">
    <div class="columns column-12">
        <h1>Office</h1>
        {{outlet}}
    </div>
</div>
